@using QuestRoom.Models
@model IEnumerable<Room>;
@{
    ViewData["Title"] = "QuestRoom";
}
<section class="section section-lg bg-transparent novi-background" data-preset='{"title":"Blog Boxed","category":"blog","reload":true,"id":"blog-boxed-2"}'>
    <div class="container">
        <div class="row row-40 justify-content-lg-between">
            <div class="col-md-8 post-area">
                <h1>Quest Rooms</h1>
                <!-- Post boxed-->
                @foreach (Room room in Model)
                {
                    <div class="post post-boxed">
                        <div class="post-meta post-meta-between">
                            <div class="post-meta-item"><a class="post-meta-link post-meta-linkbox post-meta-linkbox-primary" href="/QuestRooms/@room.Id">@room.Company</a></div>
                            <div class="post-meta-item">
                                <span>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    @room.TimeOfPassing минут
                                </span>
                            </div>
                            <div class="post-meta-item">
                                <span>
                                    @{
                                        for (int i = 0; i < (int)room.Rating; i++)
                                        {
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        }
                                        if ((room.Rating - (int)room.Rating) > 0)
                                        {
                                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                        }
                                    }
                                </span>
                            </div>
                        </div>
                        <h3 class="post-title"><a href="/QuestRooms/@room.Id">@room.Name</a></h3><a class="post-img-link" href="/QuestRooms/@room.Id"><img src="images/image-05-760x489.jpg" alt="" width="760" height="489" /></a>
                        <div class="post-text">@room.Description</div>
                        <div class="post-meta post-meta-between post-meta-lg">
                            <div class="post-meta-item info">
                                <div class="post-tags">
                                    Количество игроков: <span class="post-tag">@room.MinAmountOfPlayers - @room.MaxAmountOfPlayers</span>
                                </div>
                                <div class="post-tags">
                                    Сложность:
                                    @{
                                        for (int i = 0; i < (int)room.LevelOfDifficulty; i++)
                                        {
                                            <img class="svg-fire" src="~/images/fire.svg" />
                                        }
                                    }
                                </div>
                            </div>
                            <div class="post-meta-item"><a class="btn btn-secondary" href="/QuestRooms/@room.Id">Read more</a></div>
                        </div>
                    </div>
                }
                <ul class="pag pag-simple">
                    <li class="pag-simple-item active">
                        <a class="pag-simple-link" href="#">1</a>
                    </li>
                    <li class="pag-simple-item">
                        <a class="pag-simple-link" href="#">2</a>
                    </li>
                    <li class="pag-simple-item">
                        <a class="pag-simple-link" href="#">3</a>
                    </li>
                    <li class="pag-simple-item">
                        <a class="pag-simple-link inactive" href="#">..</a>
                    </li>
                    <li class="pag-simple-item">
                        <a class="pag-simple-link" href="#">24</a>
                    </li>
                    <li class="pag-simple-item">
                        <a class="pag-simple-link pag-simple-link-next" href="#"><span>Next</span><span class="int-arrow-right novi-icon"></span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-xxl-3 widget-area">
                <div class="widget widget-search">
                    <h6 class="widget-title">About us</h6>
                    <div class="widget-body">
                        <form class="widget-search-form" action="search-results.html" method="GET">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Search..." autocomplete="off" name="s">
                                <div class="input-group-append">
                                    <button class="widget-search-btn input-group-text input-group-text-nodivider novi-icon">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="widget-search-results"></div>
                    </div>
                </div>
                <form class="widget">
                    <h6 class="widget-title">Difficulties:</h6>
                    <div class="widget-body">

                        @{
                            Difficulty difficulty = Difficulty.Begginer;
                            for (; difficulty <= Difficulty.Expert; difficulty++)
                            {

                                <p><label><input id="@difficulty" name="difficulty;" type="checkbox" class="" /> @difficulty</label></p>

                            }
                        }
                    </div>
                    <h6 class="widget-title">Amount of players:</h6>
                    <div class="widget-body">
                        @*<ul class="widget-list">
                                <li><a class="link-inherit" href="#">News</a></li>
                                <li><a class="link-inherit" href="#">Trends</a></li>
                                <li><a class="link-inherit" href="#">Tips</a></li>
                                <li><a class="link-inherit" href="#">Design tools</a></li>
                                <li><a class="link-inherit" href="#">Web development</a></li>
                                <li><a class="link-inherit" href="#">Resources</a></li>
                                <li><a class="link-inherit" href="#">Portfolio inspiration</a></li>
                                <li><a class="link-inherit" href="#">Reviews</a></li>
                                <li><a class="link-inherit" href="#">Graphics</a></li>
                                <li><a class="link-inherit" href="#">UI/UX design</a></li>
                                <li><a class="link-inherit" href="#">Interviews</a></li>
                                <li><a class="link-inherit" href="#">Content ideas</a></li>
                            </ul>*@
                    </div>
                    <h6 class="widget-title">Level of fear:</h6>
                    <div class="widget-body">
                        @*<ul class="widget-list">
                                <li><a class="link-inherit" href="#">News</a></li>
                                <li><a class="link-inherit" href="#">Trends</a></li>
                                <li><a class="link-inherit" href="#">Tips</a></li>
                                <li><a class="link-inherit" href="#">Design tools</a></li>
                                <li><a class="link-inherit" href="#">Web development</a></li>
                                <li><a class="link-inherit" href="#">Resources</a></li>
                                <li><a class="link-inherit" href="#">Portfolio inspiration</a></li>
                                <li><a class="link-inherit" href="#">Reviews</a></li>
                                <li><a class="link-inherit" href="#">Graphics</a></li>
                                <li><a class="link-inherit" href="#">UI/UX design</a></li>
                                <li><a class="link-inherit" href="#">Interviews</a></li>
                                <li><a class="link-inherit" href="#">Content ideas</a></li>
                            </ul>*@
                    </div>
                    <button class="btn btn-primary" type="submit">Filter</button>
                </form>
            </div>
        </div>
    </div>
</section>